* {
    margin: 0px;
}

section{
    background-color: #dddada;
}

#cabecalho{
    display: flex;
    width: 320px;
    justify-content: space-around;;
    align-items: center;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    box-shadow: 3px 3px 5px #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    padding: 20px;
    background-color: white;
}
#cabecalho h1{
    font-size: 35px;
}
#cabecalho h5{
    font-size: 15px;
    margin: 0px;
}

#logofipe {
    width: 120px;
    padding: 3%;
    padding-left: 5%;
}

#formCampo {
    padding: 1%;
    padding-top: 20px;
    margin-top: 10px;
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: end;
    font-family: 'Bona Nova', serif;
    background-color: white;
    box-shadow: 3px 3px 5px #aaaaaa;
    border: 1px solid #BFBFBF;
}


.campo {
    padding: 2%;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

label {
    padding-right: 4px;
    width: 20%;
    line-height: 15px;
}

select {
    padding: 5px;
    margin-top: 8px;
    width: 100%;
}

button {
    padding: 5px;
    margin-top: 10px;
    font-family: 'Bona Nova', serif;
    margin-bottom: 10px;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#consulta{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#card {
    box-shadow: 3px 3px 5px #aaaaaa;
    border: 1px solid #BFBFBF;
    padding: 5%;
    font-size: 20px;
    margin-top: 10px;
    width: 320px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
}

#card h1 {
    font-size: 20px;
    padding: 2px;
    font-family: 'Bona Nova', serif;
}

#card h4 {
    font-size: 10px;
    padding: 2px;
    font-family: 'Bona Nova', serif;;
}

#avisoAno, #avisoModelo, #avisoMarca, #avisoTipo {
    color: red;
    align-self: end;
    padding-right: 20px;
    font-size: 12px;
}

#dadosCarro{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#btnEnviar{
    border-radius: 5px;
    padding: 8px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px #aaaaaa;
    border: 1px solid #BFBFBF;
    font-family: 'Michroma', sans-serif;
    font-size: 13px;
}

#btnEnviar:hover{
    border: 1px solid #636161;
    background-color: #aaaaaa;
}

#btnOutraConsulta{
    border-radius: 5px;
    padding: 8px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    box-shadow: 3px 3px 5px #aaaaaa;
    border: 1px solid #BFBFBF;
    font-family: 'Michroma', sans-serif;
}
#btnOutraConsulta:hover{
    border: 1px solid #636161;
    background-color: #aaaaaa;
}

#dev {
    background-color:#dddada;
    color: #636161;
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
    font-family: 'Michroma', sans-serif;
    border: none;
}

#dev a {
    color: #585757;
}

@media only screen and (max-height:428px) {
    #container {
        width: 100vw;
        height: 150vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}