* {
    margin: 0px;
}

#cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    width: 70%;
    border-bottom: 1px solid #aaaaaa;
    margin-bottom: 20px;
}
#cabecalho h1{
    font-size: 35px;
}
#cabecalho h5{
    font-size: 15px;
    
}

#logofipe {
    width: 100px;
    padding: 3%;
    padding-left: 5%;
}

#formCampo {
    padding: 1%;
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: end;
    font-family: 'Bona Nova', serif;;
}


.campo {
    padding: 2%;
    width: 100%;
    display: flex;
    align-items: baseline;
}

label {
    padding-right: 4px;
    width: 50%;
}

select {
    padding: 5px;
    margin-top: 8px;
    width: 100%;
}

button {
    padding: 5px;
    margin-top: 10px;
    font-family: 'Bona Nova', serif;
    margin-bottom: 10px;
}

#container {
    width: 100vw;
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#consulta{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#card {
    box-shadow: 10px 10px 5px #aaaaaa;
    border: 1px solid #BFBFBF;
    padding: 5%;
    font-size: 20px;
    margin-top: 10px;
    width: 240px;
}

#card h1 {
    font-size: 20px;
    padding: 2px;
    font-family: 'Bona Nova', serif;;
}

#card h4 {
    font-size: 10px;
    padding: 2px;
    font-family: 'Bona Nova', serif;;
}

#btnEnviar{
    border-radius: 5px;
    padding: 8px;
    width: 50%;

}