* {
    margin: 0px;
}

#cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Michroma', sans-serif;
    text-align: center;
}

#logofipe {
    width: 15%;
    padding: 3%;
    padding-right: 5%;
}

#formCampo {
    padding: 1%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: end;
    font-family: 'Bona Nova', serif;;
}


.campo {
    padding: 2%;
    width: 100%;
    display: flex;
    align-items: baseline;
}

label {
    padding-right: 4px;
    width: 50%;
}

select {
    padding: 5px;
    margin-top: 8px;
    width: 100%;
}

button {
    padding: 5px;
    margin-top: 10px;
    font-family: 'Bona Nova', serif;
    margin-bottom: 10px;
}

#container {
    width: 100vw;
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card h1 {
    
    padding: 2px;
    font-family: 'Bona Nova', serif;;
}